* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-4 {
    margin: 10px 0;
}

.row {
}

.box {
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;

}

.box img {
    width: 300px;
    height: 180px;
}