* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.box {
    height: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding: 20px;

}

.box img {
    width: 300px;
    height: 180px;
}

.col-4 {
    margin: 10px 0;
}

.mapbtn {
    border-radius: 10px;
    padding: 10px;
    transition: 0.6s;
}

.mapbtn:hover {
    color: #d3d3d3;
    box-shadow: 0px 0px 50px 0px rgba(137, 137, 137, 0.5);
    background: lightgrey;
}

.mapbtn a {
    text-decoration: none;
    color: black;
}

.firstsec{
    padding: 20px;
}

.selectinput {
    padding: 5px;
}